
NEXT_PUBLIC_SITE_URL=xxxxxxx
NEXT_PUBLIC_SITE_NAME=xxxxxx
NEXT_PUBLIC_SITE_DESCRIPTION=""
NEXT_PUBLIC_DEMO_STATUS=""
NEXT_PUBLIC_MAINTENANCE_STATUS=""
NODE_ENV=""
NEXT_PUBLIC_FRONTEND_PORT=""
NEXT_PUBLIC_BACKEND_PORT=""
NEXT_PUBLIC_BACKEND_THREADS=""
NEXT_PUBLIC_DEFAULT_LANGUAGE=""
NEXT_PUBLIC_LANGUAGES=""
NEXT_PUBLIC_DEFAULT_THEME=""
NEXT_PUBLIC_FRONTEND=""
NEXT_PUBLIC_DEFAULT_LAYOUT=""
DB_NAME=xxxxxx
DB_USER=xxxxxx
DB_PASSWORD=xxxxxx
DB_HOST=localhost
DB_PORT=3306
NEXT_PUBLIC_GOOGLE_AUTH_STATUS=""
NEXT_PUBLIC_GOOGLE_CLIENT_ID=""
NEXT_PUBLIC_VERIFY_EMAIL_STATUS=""
NEXT_PUBLIC_GOOGLE_RECAPTCHA_STATUS=""
NEXT_PUBLIC_GOOGLE_RECAPTCHA_SITE_KEY=""
NEXT_PUBLIC_GOOGLE_RECAPTCHA_SECRET_KEY=""
NEXT_PUBLIC_GOOGLE_ANALYTICS_STATUS=""
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=""
NEXT_PUBLIC_2FA_STATUS=""
NEXT_PUBLIC_2FA_SMS_STATUS=""
NEXT_PUBLIC_2FA_EMAIL_STATUS=""
NEXT_PUBLIC_2FA_APP_STATUS=""
NEXT_PUBLIC_FACEBOOK_PIXEL_STATUS=""
NEXT_PUBLIC_FACEBOOK_PIXEL_ID=""
NEXT_PUBLIC_BINARY_STATUS=""
NEXT_PUBLIC_BINARY_PRACTICE_STATUS=""
NEXT_PUBLIC_BINARY_PROFIT=87
NEXT_PUBLIC_BLOG_STATUS=""
APP_ACCESS_TOKEN_SECRET=""
APP_REFRESH_TOKEN_SECRET=""
APP_RESET_TOKEN_SECRET=""
APP_VERIFY_TOKEN_SECRET=""
JWT_EXPIRY=""
JWT_REFRESH_EXPIRY=""
JWT_RESET_EXPIRY=""
RATE_LIMIT=""
RATE_LIMIT_EXPIRY=""
APP_CLIENT_PLATFORM=""
APP_STRIPE_PUBLIC_KEY=""
APP_STRIPE_SECRET_KEY=""
APP_PAYSTACK_SECRET_KEY=
APP_PAYSTACK_PUBLIC_KEY=
NEXT_PUBLIC_APP_PAYPAL_CLIENT_ID=""
APP_PAYPAL_CLIENT_SECRET=""
OANDA_API_KEY=""
APP_EMAILER=""
NEXT_PUBLIC_APP_EMAIL=""
APP_NODEMAILER_SERVICE=""
APP_NODEMAILER_SERVICE_SENDER=""
APP_NODEMAILER_SERVICE_PASSWORD=""
APP_NODEMAILER_SMTP_HOST=""
APP_NODEMAILER_SMTP_PORT=""
APP_NODEMAILER_SMTP_SENDER=""
APP_NODEMAILER_SMTP_PASSWORD=""
APP_SENDGRID_API_KEY=""
APP_SENDGRID_SENDER=""
APP_SENDMAIL_PATH=""
APP_TWILIO_ACCOUNT_SID=""
APP_TWILIO_VERIFY_SERVICE_SID=""
APP_TWILIO_AUTH_TOKEN=""
APP_TWILIO_PHONE_NUMBER=""
APP_SUPPORT_PHONE_NUMBER=""
NEXT_PUBLIC_EXCHANGE=""
APP_KUCOIN_API_KEY=""
APP_KUCOIN_API_SECRET=""
APP_KUCOIN_API_PASSPHRASE=""
APP_BINANCE_API_KEY=""
APP_BINANCE_API_SECRET=""
APP_KRAKEN_API_KEY=""
APP_KRAKEN_API_SECRET=""
APP_XT_API_KEY=""
APP_XT_API_SECRET=""
APP_OKX_API_KEY=""
APP_OKX_API_SECRET=""
APP_OKX_API_PASSPHRASE=""
APP_BINANCEUS_API_KEY=""
APP_BINANCEUS_API_SECRET=""
OPENAI_API_KEY=""
APP_FIAT_RATES_PROVIDER=""
APP_OPENEXCHANGERATES_APP_ID=""
APP_EXCHANGERATE_API_KEY=""
ETH_NETWORK=""
ETH_EXPLORER_API_KEY=""
ETH_MAINNET_RPC=""
ETH_MAINNET_RPC_WSS=""
ETH_GOERLI_RPC=""
ETH_GOERLI_RPC_WSS=""
ETH_SEPOLIA_RPC=""
ETH_SEPOLIA_RPC_WSS=""
BSC_NETWORK=""
BSC_EXPLORER_API_KEY=""
BSC_MAINNET_RPC=""
BSC_MAINNET_RPC_WSS=""
BSC_TESTNET_RPC=""
BSC_TESTNET_RPC_WSS=""
FTM_NETWORK=""
FTM_EXPLORER_API_KEY=your_api
FTM_MAINNET_RPC=""
FTM_MAINNET_RPC_WSS=""
FTM_TESTNET_RPC=""
FTM_TESTNET_RPC_WSS=""
OPTIMISM_NETWORK=""
OPTIMISM_EXPLORER_API_KEY=""
OPTIMISM_MAINNET_RPC=""
OPTIMISM_MAINNET_RPC_WSS=""
OPTIMISM_GOERLI_RPC=""
OPTIMISM_GOERLI_RPC_WSS=""
ARBITRUM_NETWORK=""
ARBITRUM_EXPLORER_API_KEY=""
ARBITRUM_MAINNET_RPC=""
ARBITRUM_MAINNET_RPC_WSS=""
ARBITRUM_GOERLI_RPC=""
ARBITRUM_GOERLI_RPC_WSS=""
BASE_NETWORK=""
BASE_EXPLORER_API_KEY=""
BASE_MAINNET_RPC=""
BASE_MAINNET_RPC_WSS=""
BASE_GOERLI_RPC=""
BASE_GOERLI_RPC_WSS=""
CELO_NETWORK=""
CELO_EXPLORER_API_KEY=your_api
CELO_MAINNET_RPC=""
CELO_MAINNET_RPC_WSS=""
CELO_ALFAJORES_RPC=""
CELO_ALFAJORES_RPC_WSS=""
SOL_NETWORK=""
SOL_MAINNET_RPC=""
SOL_TESTNET_RPC=""
SOL_DEVNET_RPC=""
SOL_MAINNET_RPC_WSS=""
SOL_TESTNET_RPC_WSS=""
SOL_DEVNET_RPC_WSS=""
MO_NETWORK=""
MO_MAINNET_RPC=""
MO_MAINNET_RPC_WSS=""
MO_TESTNET_RPC=""
MO_TESTNET_RPC_WSS=""
SCYLLA_FUTURES_KEYSPACE=""
SCYLLA_USERNAME=""
SCYLLA_PASSWORD=""
SCYLLA_HOST=""
SCYLLA_PORT=""
SCYLLA_CONNECT_POINTS=""
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=""
ENCRYPTED_ENCRYPTION_KEY=xxxxxxxxxxx